.footer-main{
  position:absolute;
  bottom:0px;
  background-color: red;
  width:100vw;
  height:20vh;
  font-family: 'Montserrat', sans-serif;
  font-style:italic;
  background-color: $dark-gray;
  color:white;
}
